<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="AndroidDatePicker2"
        android:theme="@style/AppTheme" >
        <activity
            android:exported="true"
            android:name="cz.vutbr.fit.gja.androidDatePicker2.MainActivity"
            android:label="AndroidDatePicker2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>